:root {
  --primary-color: lightgrey;
  --secondary-color: midnightblue;
}

:root[color-mode="light"] {
  --primary-color: midnightblue;
  --secondary-color: lightgrey;
}

:root[color-mode="dark"] {
  --primary-color: lightgrey;
  --secondary-color: midnightblue;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 2rem 0 0 0;
  margin: 0;
}

#header,
#footer,
#aside,
#main {
  padding: 1rem;
  margin-bottom: 2rem;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 2px var(--primary-color);
}

#nav,
#footer {
  color:var(--primary-color);
  background-color: var(--secondary-color);

  ul {
    margin-left: -1.6rem;
    list-style: none;

    li {
      display: inline-block;
      padding: 1rem .2rem;

      +li {
        margin-left: 1rem;
      }

      a {
        display: block;

        &.current {
          font-weight: bold;
        }
      }
    }
  }
}

#header {
  margin-top: 6rem;

  h1 {
    display: inline-block;
    padding: .6rem 1.8rem;
    line-height: 1;
    border: 3px solid var(--secondary-color);
  }
}

#footer,
.content {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem 0;
}

.content {
  color:var(--primary-color);
  background-color: var(--secondary-color);

  main,
  #main {
    width: 66.666%;
  }

  #aside {
    width: 33.333%;
  }

  hr {
    border: 1px var(--primary-color);
  }
}

a,
button {
  color: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  background-color: inherit;
}

@media (max-width: 998px) {
  body {
    font-size: 120%;
  }

  .content {
    display: block;

    #main {
      border-bottom: 3px var(--primary-color);
      margin-bottom: 3rem;
    }
  }
}
